.recipes {
    font-family: "Times New Roman" , "Arial";
    font-weight: bold;
    color: rgb(87, 114, 206);
    text-align: center;
    font-size: 24px;

}
.odin{
    text-align: center;
    color: rgb(201, 83, 161);
    background-color: aqua;
    font-style: italic;
    font-size: 36px;
}

.Moussaka{
    background-color: rgb(90, 57, 240);
    text-align: center;
    font-size: 36px;
    color: white;
}
.Mdess,
.Mdes,
.Min,
.Minlist,
.Minbech,
.Msteps,
.Mstepslist{ font-family: "Arial";
            font-weight: 500;
    
}

.Mimg{
    text-align: center;
    
}
.Mdess,
.Msteps,
.Min{
    color: rgb(2, 48, 48);
    font-size: 36px;

}
.Minlist,
.Minbech,
.Mdes,
.Mstepslist{
    color: rgb(84, 60, 139);
    font-size: 18px;

}


.TG{
    font-size: 36px;
    text-align: center;
    color: rgb(124, 6, 6);
    background-color: rgb(27, 164, 206);
}
.TGimg{
    text-align: center;
}

.TG,
.TGD,
.TGDD,
.TGI,
.TGIG,
.TGIT,
.TGITS,
.TGS,
.TGSS{
    font-family: Arial;
    font-weight: 500;
}
.TGD,
.TGI,
.TGS{
    font-size: 26px;
    color: rgb(108, 85, 192);
    
}
.TGDD{
    color: rgb(52, 116, 189);
    font-size: 18px;
}
.TGIG,
.TGIT,
.TGITS{
    font-size: 18px;
    color: rgb(151, 72, 72);

}
.TGSS{
    font-size: 18px;
    color: rgb(52, 116, 189);
}
.souimg{
    text-align: center;
}
.Sou{
    font-size: 36px;
    color: blue;
    text-align: center;
    background-color: rgb(112, 88, 22);
}
.Sou,
.SouD,
.Soudl,
.SouI,
.SouIl,
.SouS,
.SouSl{
    font-family: Arial;
    font-weight: 500;
}

.SouD,
.SouS,
.SouI{
    font-size: 26px;
    color: rgb(40, 88, 31);
}

.Soudl,
.SouSl,
.SouIl{
    font-size: 18px;
    color: rgb(7, 129, 89);
}